# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [87]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import warnings
warnings.filterwarnings('ignore')

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [88]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('applicants_data.csv'))
# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [89]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [90]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df_droped = applicant_data_df.drop(columns=['EIN', 'NAME'])
# YOUR CODE HERE

In [91]:
# Review the DataFrame
# YOUR CODE HERE
applicant_data_df_droped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

t test, chi-sqd, corr

In [92]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [93]:
# Create a list of categorical variables 
categorical = list(applicant_data_df_droped.dtypes[applicant_data_df_droped.dtypes=='object'].index)

In [94]:
#cats_vars = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [95]:
# Encode the categorcal variables using OneHotEncoder
cats_encoded = enc.fit_transform(applicant_data_df_droped[categorical])
# Display the categorical variables list
# YOUR CODE HERE
cats_encoded

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [96]:
# Create a DataFrame with the encoded variables
encoded_df_new = pd.DataFrame(cats_encoded,
                         columns=enc.get_feature_names(categorical)
                                                                      )
                         
# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
encoded_df_new

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [97]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df =  pd.concat([applicant_data_df[['ASK_AMT', 'IS_SUCCESSFUL','STATUS']], encoded_df_new], axis=1)# YOUR CODE HERE

# Review the Dataframe
# YOUR CODE HERE
encoded_df

,ASK_AMT,IS_SUCCESSFUL,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [98]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']
# YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [99]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])
# YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE
X

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [100]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 1)
# YOUR CODE HERE

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [101]:
# Create a StandardScaler instance
scaler = StandardScaler()
# YOUR CODE HERE

In [102]:
# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)  
# YOUR CODE HERE

In [103]:
# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
# YOUR CODE HERE
X_test_scaled = X_scaler.transform(X_test)
# YOUR CODE HERE

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [104]:
# Define the the number of inputs (features) to the model
number_input_features = 116
# YOUR CODE HERE

# Review the number of features
number_input_features

116

In [105]:
# Define the number of neurons in the output layer
number_output_neurons = 58
# YOUR CODE HERE

In [106]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 75
# YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

75

In [107]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 55
# YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

55

In [108]:
# Create the Sequential model instance
nn = Sequential()
# YOUR CODE HERE

In [109]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(
    Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

In [110]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(
    Dense(units=hidden_nodes_layer2, activation='relu'))

In [118]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [119]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_22 (Dense)             (None, 75)                8775
_________________________________________________________________
dense_23 (Dense)             (None, 55)                4180
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 56
_________________________________________________________________
dense_25 (Dense)             (None, 58)                116
_________________________________________________________________
dense_26 (Dense)             (None, 52)                3068
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 53
=================================================================
Total params: 16,195
Trainable params: 16,195
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [120]:
# Compile the Sequential model
# YOUR CODE HERE
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE

model_1 = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Train on 18006 samples, validate on 7718 samples
Epoch 1/50
18006/18006 [==============================] - 1s 46us/sample - loss: 0.6426 - acc: 0.6596 - val_loss: 0.5761 - val_acc: 0.7361
Epoch 2/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5854 - acc: 0.7245 - val_loss: 0.5688 - val_acc: 0.7372
Epoch 3/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5734 - acc: 0.7253 - val_loss: 0.5576 - val_acc: 0.7356
Epoch 4/50
18006/18006 [==============================] - 1s 36us/sample - loss: 0.5639 - acc: 0.7271 - val_loss: 0.5542 - val_acc: 0.7356
Epoch 5/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5597 - acc: 0.7297 - val_loss: 0.5549 - val_acc: 0.7352
Epoch 6/50
18006/18006 [==============================] - 1s 36us/sample - loss: 0.5586 - acc: 0.7281 - val_loss: 0.5489 - val_acc: 0.7397
Epoch 7/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5552 - acc: 0.7306 - val_loss: 0.5466 - val_acc: 0.7407
Epoch 8/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5547 - acc: 0.7327 - val_loss: 0.5587 - val_acc: 0.7306
Epoch 9/50
18006/18006 [==============================] - 1s 38us/sample - loss: 0.5539 - acc: 0.7267 - val_loss: 0.5476 - val_acc: 0.7385
Epoch 10/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5518 - acc: 0.7310 - val_loss: 0.5473 - val_acc: 0.7384
Epoch 11/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5497 - acc: 0.7321 - val_loss: 0.5462 - val_acc: 0.7356
Epoch 12/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5496 - acc: 0.7315 - val_loss: 0.5463 - val_acc: 0.7413
Epoch 13/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5487 - acc: 0.7333 - val_loss: 0.5479 - val_acc: 0.7344
Epoch 14/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5477 - acc: 0.7326 - val_loss: 0.5478 - val_acc: 0.7388
Epoch 15/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5470 - acc: 0.7330 - val_loss: 0.5540 - val_acc: 0.7346
Epoch 16/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5473 - acc: 0.7329 - val_loss: 0.5476 - val_acc: 0.7368
Epoch 17/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5463 - acc: 0.7355 - val_loss: 0.5475 - val_acc: 0.7378
Epoch 18/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5460 - acc: 0.7339 - val_loss: 0.5487 - val_acc: 0.7371
Epoch 19/50
18006/18006 [==============================] - 1s 36us/sample - loss: 0.5450 - acc: 0.7336 - val_loss: 0.5505 - val_acc: 0.7367
Epoch 20/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5446 - acc: 0.7328 - val_loss: 0.5519 - val_acc: 0.7379
Epoch 21/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5440 - acc: 0.7343 - val_loss: 0.5495 - val_acc: 0.7308
Epoch 22/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5433 - acc: 0.7343 - val_loss: 0.5505 - val_acc: 0.7361
Epoch 23/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5440 - acc: 0.7330 - val_loss: 0.5488 - val_acc: 0.7343
Epoch 24/50
18006/18006 [==============================] - 1s 36us/sample - loss: 0.5422 - acc: 0.7348 - val_loss: 0.5516 - val_acc: 0.7322
Epoch 25/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5411 - acc: 0.7368 - val_loss: 0.5522 - val_acc: 0.7349
Epoch 26/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5413 - acc: 0.7378 - val_loss: 0.5498 - val_acc: 0.7378
Epoch 27/50
18006/18006 [==============================] - 1s 34us/sample - loss: 0.5413 - acc: 0.7339 - val_loss: 0.5503 - val_acc: 0.7357
Epoch 28/50
18006/18006 [==============================] - 1s 35us/sample - loss: 0.5408 - acc: 0.7365 - val_loss: 0.5513 - val_acc: 0.7359
Epoch 29/50
18006/18006 [==============================] - 1s 37us/sample - loss: 0.5411 - acc: 0.7343 - val_loss: 0.5492 - val_acc: 0.7359
Epoch 30/50
18006/18006 [==============================] - 1s 36us/sample - loss: 0.5397 - acc: 0.7350 - val_loss: 0.5559 - val_acc: 0.7324
Epoch 31/50
18006/18006 [==============================] - 1s 50us/sample - loss: 0.5397 - acc: 0.7345 - val_loss: 0.5541 - val_acc: 0.7366
Epoch 32/50
18006/18006 [==============================] - 1s 50us/sample - loss: 0.5397 - acc: 0.7373 - val_loss: 0.5561 - val_acc: 0.7280
Epoch 33/50
18006/18006 [==============================] - 1s 55us/sample - loss: 0.5388 - acc: 0.7380 - val_loss: 0.5618 - val_acc: 0.7271
Epoch 34/50
18006/18006 [==============================] - 1s 41us/sample - loss: 0.5387 - acc: 0.7370 - val_loss: 0.5490 - val_acc: 0.7362
Epoch 35/50
18006/18006 [==============================] - 1s 47us/sample - loss: 0.5378 - acc: 0.7375 - val_loss: 0.5494 - val_acc: 0.7350
Epoch 36/50
18006/18006 [==============================] - 1s 38us/sample - loss: 0.5390 - acc: 0.7383 - val_loss: 0.5505 - val_acc: 0.7345
Epoch 37/50
18006/18006 [==============================] - 1s 37us/sample - loss: 0.5394 - acc: 0.7349 - val_loss: 0.5516 - val_acc: 0.7358
Epoch 38/50
18006/18006 [==============================] - 1s 50us/sample - loss: 0.5376 - acc: 0.7379 - val_loss: 0.5506 - val_acc: 0.7362
Epoch 39/50
18006/18006 [==============================] - 1s 41us/sample - loss: 0.5376 - acc: 0.7379 - val_loss: 0.5577 - val_acc: 0.7261
Epoch 40/50
18006/18006 [==============================] - 1s 44us/sample - loss: 0.5380 - acc: 0.7373 - val_loss: 0.5520 - val_acc: 0.7344
Epoch 41/50
18006/18006 [==============================] - 1s 41us/sample - loss: 0.5369 - acc: 0.7365 - val_loss: 0.5511 - val_acc: 0.7319
Epoch 42/50
18006/18006 [==============================] - 1s 39us/sample - loss: 0.5375 - acc: 0.7380 - val_loss: 0.5534 - val_acc: 0.7344
Epoch 43/50
18006/18006 [==============================] - 1s 38us/sample - loss: 0.5371 - acc: 0.7394 - val_loss: 0.5577 - val_acc: 0.7293
Epoch 44/50
18006/18006 [==============================] - 1s 37us/sample - loss: 0.5366 - acc: 0.7389 - val_loss: 0.5546 - val_acc: 0.7361
Epoch 45/50
18006/18006 [==============================] - 1s 49us/sample - loss: 0.5368 - acc: 0.7382 - val_loss: 0.5505 - val_acc: 0.7335
Epoch 46/50
18006/18006 [==============================] - 1s 49us/sample - loss: 0.5362 - acc: 0.7392 - val_loss: 0.5495 - val_acc: 0.7370
Epoch 47/50
18006/18006 [==============================] - 1s 48us/sample - loss: 0.5368 - acc: 0.7393 - val_loss: 0.5496 - val_acc: 0.7344
Epoch 48/50
18006/18006 [==============================] - 1s 40us/sample - loss: 0.5362 - acc: 0.7383 - val_loss: 0.5500 - val_acc: 0.7348
Epoch 49/50
18006/18006 [==============================] - 1s 48us/sample - loss: 0.5355 - acc: 0.7403 - val_loss: 0.5559 - val_acc: 0.7337
Epoch 50/50
18006/18006 [==============================] - 1s 41us/sample - loss: 0.5353 - acc: 0.7398 - val_loss: 0.5694 - val_acc: 0.7191

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [86]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5591 - acc: 0.7296
Loss: 0.5591020798961206, Accuracy: 0.7295626997947693

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

In [ ]:
# Create the Sequential model instance
nn_A1 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE


# Output layer
# YOUR CODE HERE


# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the Sequential model
nn_A1.# YOUR CODE HERE

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = # YOUR CODE HERE

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE