# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import warnings
warnings.filterwarnings('ignore')

C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('applicants_data.csv'))
# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df_droped = applicant_data_df.drop(columns=['EIN', 'NAME'])
# YOUR CODE HERE

In [5]:
# Review the DataFrame
# YOUR CODE HERE
applicant_data_df_droped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical = list(applicant_data_df_droped.dtypes[applicant_data_df_droped.dtypes=='object'].index)

In [8]:
# Encode the categorcal variables using OneHotEncoder
cats_encoded = enc.fit_transform(applicant_data_df_droped[categorical])
# Display the categorical variables list
# YOUR CODE HERE
cats_encoded

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df_new = pd.DataFrame(cats_encoded,
                         columns=enc.get_feature_names(categorical)
                                                                      )
                         
# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
encoded_df_new

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df =  pd.concat([applicant_data_df[['ASK_AMT', 'IS_SUCCESSFUL','STATUS']], encoded_df_new], axis=1)# YOUR CODE HERE

# Review the Dataframe
# YOUR CODE HERE
encoded_df

,ASK_AMT,IS_SUCCESSFUL,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']
# YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])
# YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE
X

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 1)
# YOUR CODE HERE

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()
# YOUR CODE HERE

In [15]:
# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)  
# YOUR CODE HERE

In [16]:
# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
# YOUR CODE HERE
X_test_scaled = X_scaler.transform(X_test)
# YOUR CODE HERE

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [17]:
# Define the the number of inputs (features) to the model
number_input_features = 116
# YOUR CODE HERE

# Review the number of features
number_input_features

116

In [18]:
# Define the number of neurons in the output layer
number_output_neurons = 58
# YOUR CODE HERE

In [19]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 75
# YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

75

In [20]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 55
# YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

55

In [21]:
# Create the Sequential model instance
nn = Sequential()
# YOUR CODE HERE

In [22]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(
    Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

WARNING:tensorflow:From C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [23]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(
    Dense(units=hidden_nodes_layer2, activation='relu'))

In [24]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [25]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 75)                8775
_________________________________________________________________
dense_1 (Dense)              (None, 55)                4180
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 56
=================================================================
Total params: 13,011
Trainable params: 13,011
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
# YOUR CODE HERE
# Compile the model
nn.compile(loss=["binary_crossentropy"], optimizer="adam", metrics=["accuracy"])

# Train the model
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE

model_1 = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

WARNING:tensorflow:From C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 18006 samples, validate on 7718 samples
Epoch 1/50
18006/18006 [==============================] - 1s 32us/sample - loss: 0.5773 - acc: 0.7150 - val_loss: 0.5621 - val_acc: 0.7334
Epoch 2/50
18006/18006 [==============================] - 0s 28us/sample - loss: 0.5575 - acc: 0.7240 - val_loss: 0.5564 - val_acc: 0.7372
Epoch 3/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5536 - acc: 0.7283 - val_loss: 0.5606 - val_acc: 0.7358
Epoch 4/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5516 - acc: 0.7271 - val_loss: 0.5548 - val_acc: 0.7380
Epoch 5/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5493 - acc: 0.7298 - val_loss: 0.5558 - val_acc: 0.7379
Epoch 6/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5489 - acc: 0.7293 - val_loss: 0.5565 - val_acc: 0.7384
Epoch 7/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5465 - acc: 0.7308 - val_loss: 0.5623 - val_acc: 0.7368
Epoch 8/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5472 - acc: 0.7310 - val_loss: 0.5575 - val_acc: 0.7344
Epoch 9/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5454 - acc: 0.7320 - val_loss: 0.5562 - val_acc: 0.7368
Epoch 10/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5446 - acc: 0.7308 - val_loss: 0.5586 - val_acc: 0.7354
Epoch 11/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5440 - acc: 0.7318 - val_loss: 0.5581 - val_acc: 0.7362
Epoch 12/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5427 - acc: 0.7326 - val_loss: 0.5624 - val_acc: 0.7315
Epoch 13/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5427 - acc: 0.7341 - val_loss: 0.5598 - val_acc: 0.7318
Epoch 14/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5422 - acc: 0.7331 - val_loss: 0.5573 - val_acc: 0.7380
Epoch 15/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5418 - acc: 0.7351 - val_loss: 0.5565 - val_acc: 0.7358
Epoch 16/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5414 - acc: 0.7340 - val_loss: 0.5585 - val_acc: 0.7345
Epoch 17/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5397 - acc: 0.7336 - val_loss: 0.5595 - val_acc: 0.7376
Epoch 18/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5409 - acc: 0.7328 - val_loss: 0.5589 - val_acc: 0.7372
Epoch 19/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5400 - acc: 0.7347 - val_loss: 0.5608 - val_acc: 0.7366
Epoch 20/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5394 - acc: 0.7360 - val_loss: 0.5598 - val_acc: 0.7371
Epoch 21/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5389 - acc: 0.7342 - val_loss: 0.5609 - val_acc: 0.7340
Epoch 22/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5376 - acc: 0.7358 - val_loss: 0.5681 - val_acc: 0.7309
Epoch 23/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5389 - acc: 0.7357 - val_loss: 0.5617 - val_acc: 0.7349
Epoch 24/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5378 - acc: 0.7369 - val_loss: 0.5612 - val_acc: 0.7348
Epoch 25/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5371 - acc: 0.7360 - val_loss: 0.5678 - val_acc: 0.7306
Epoch 26/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5363 - acc: 0.7371 - val_loss: 0.5602 - val_acc: 0.7353
Epoch 27/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5369 - acc: 0.7364 - val_loss: 0.5620 - val_acc: 0.7345
Epoch 28/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5370 - acc: 0.7369 - val_loss: 0.5617 - val_acc: 0.7343
Epoch 29/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5363 - acc: 0.7375 - val_loss: 0.5655 - val_acc: 0.7339
Epoch 30/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5359 - acc: 0.7368 - val_loss: 0.5647 - val_acc: 0.7334
Epoch 31/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5358 - acc: 0.7386 - val_loss: 0.5648 - val_acc: 0.7357
Epoch 32/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5356 - acc: 0.7375 - val_loss: 0.5667 - val_acc: 0.7350
Epoch 33/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5358 - acc: 0.7374 - val_loss: 0.5720 - val_acc: 0.7308
Epoch 34/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5353 - acc: 0.7365 - val_loss: 0.5672 - val_acc: 0.7366
Epoch 35/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5348 - acc: 0.7376 - val_loss: 0.5691 - val_acc: 0.7365
Epoch 36/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5341 - acc: 0.7385 - val_loss: 0.5703 - val_acc: 0.7341
Epoch 37/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5347 - acc: 0.7382 - val_loss: 0.5681 - val_acc: 0.7336
Epoch 38/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5345 - acc: 0.7385 - val_loss: 0.5680 - val_acc: 0.7304
Epoch 39/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5343 - acc: 0.7388 - val_loss: 0.5670 - val_acc: 0.7343
Epoch 40/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5331 - acc: 0.7385 - val_loss: 0.5715 - val_acc: 0.7322
Epoch 41/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5338 - acc: 0.7390 - val_loss: 0.5645 - val_acc: 0.7378
Epoch 42/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5333 - acc: 0.7391 - val_loss: 0.5741 - val_acc: 0.7323
Epoch 43/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5331 - acc: 0.7371 - val_loss: 0.5704 - val_acc: 0.7322
Epoch 44/50
18006/18006 [==============================] - 1s 28us/sample - loss: 0.5328 - acc: 0.7398 - val_loss: 0.5705 - val_acc: 0.7337
Epoch 45/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5330 - acc: 0.7386 - val_loss: 0.5686 - val_acc: 0.7349
Epoch 46/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5327 - acc: 0.7392 - val_loss: 0.5679 - val_acc: 0.7358
Epoch 47/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5326 - acc: 0.7391 - val_loss: 0.5672 - val_acc: 0.7344
Epoch 48/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5326 - acc: 0.7390 - val_loss: 0.5708 - val_acc: 0.7336
Epoch 49/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5327 - acc: 0.7395 - val_loss: 0.5639 - val_acc: 0.7359
Epoch 50/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5320 - acc: 0.7391 - val_loss: 0.5733 - val_acc: 0.7367

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5620 - acc: 0.7290
Loss: 0.5619846418856185, Accuracy: 0.7289795875549316

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = Path("venture_funding_with_deep_learning.ipynb")

# Export your model to a HDF5 file
AlphabetSoup = nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [29]:
# Define the the number of inputs (features) to the model
number_input_features_ = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 47
# YOUR CODE HERE

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 70
# YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

70

In [32]:
# Create the Sequential model instance
nn_A1 = Sequential()
# YOUR CODE HERE

In [33]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(
    Dense(input_dim = number_input_features_, units=number_output_neurons_A1, activation='relu'))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=1, activation="linear"))

# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 47)                5499
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 48
=================================================================
Total params: 5,547
Trainable params: 5,547
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the Sequential model
nn_A1.compile(loss=["mean_squared_error"], optimizer="adam", metrics=["accuracy"])

In [35]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, verbose=2)
# YOUR CODE HERE

Epoch 1/50
25724/25724 - 0s - loss: 0.8391 - acc: 0.7043
Epoch 2/50
25724/25724 - 0s - loss: 0.3265 - acc: 0.7187
Epoch 3/50
25724/25724 - 0s - loss: 0.2489 - acc: 0.7222
Epoch 4/50
25724/25724 - 0s - loss: 0.2421 - acc: 0.7240
Epoch 5/50
25724/25724 - 0s - loss: 0.2279 - acc: 0.7259
Epoch 6/50
25724/25724 - 0s - loss: 0.2470 - acc: 0.7244
Epoch 7/50
25724/25724 - 0s - loss: 0.2588 - acc: 0.7258
Epoch 8/50
25724/25724 - 0s - loss: 0.2340 - acc: 0.7261
Epoch 9/50
25724/25724 - 0s - loss: 0.2145 - acc: 0.7290
Epoch 10/50
25724/25724 - 0s - loss: 0.2145 - acc: 0.7284
Epoch 11/50
25724/25724 - 0s - loss: 0.2135 - acc: 0.7289
Epoch 12/50
25724/25724 - 0s - loss: 0.2102 - acc: 0.7280
Epoch 13/50
25724/25724 - 0s - loss: 0.2067 - acc: 0.7280
Epoch 14/50
25724/25724 - 0s - loss: 0.2071 - acc: 0.7303
Epoch 15/50
25724/25724 - 0s - loss: 0.1993 - acc: 0.7299
Epoch 16/50
25724/25724 - 0s - loss: 0.1960 - acc: 0.7291
Epoch 17/50
25724/25724 - 0s - loss: 0.1944 - acc: 0.7311
Epoch 18/50
25724/25724 - 0s - loss: 0.1908 - acc: 0.7310
Epoch 19/50
25724/25724 - 0s - loss: 0.1926 - acc: 0.7303
Epoch 20/50
25724/25724 - 0s - loss: 0.1920 - acc: 0.7322
Epoch 21/50
25724/25724 - 0s - loss: 0.1890 - acc: 0.7310
Epoch 22/50
25724/25724 - 0s - loss: 0.1894 - acc: 0.7315
Epoch 23/50
25724/25724 - 0s - loss: 0.1875 - acc: 0.7306
Epoch 24/50
25724/25724 - 0s - loss: 0.1872 - acc: 0.7305
Epoch 25/50
25724/25724 - 0s - loss: 0.1857 - acc: 0.7319
Epoch 26/50
25724/25724 - 0s - loss: 0.1864 - acc: 0.7311
Epoch 27/50
25724/25724 - 0s - loss: 0.1882 - acc: 0.7320
Epoch 28/50
25724/25724 - 0s - loss: 0.1886 - acc: 0.7312
Epoch 29/50
25724/25724 - 0s - loss: 0.1862 - acc: 0.7317
Epoch 30/50
25724/25724 - 0s - loss: 0.1852 - acc: 0.7311
Epoch 31/50
25724/25724 - 0s - loss: 0.1857 - acc: 0.7322
Epoch 32/50
25724/25724 - 0s - loss: 0.1859 - acc: 0.7318
Epoch 33/50
25724/25724 - 0s - loss: 0.1862 - acc: 0.7325
Epoch 34/50
25724/25724 - 0s - loss: 0.1853 - acc: 0.7320
Epoch 35/50
25724/25724 - 0s - loss: 0.1855 - acc: 0.7340
Epoch 36/50
25724/25724 - 0s - loss: 0.1852 - acc: 0.7339
Epoch 37/50
25724/25724 - 0s - loss: 0.1845 - acc: 0.7335
Epoch 38/50
25724/25724 - 0s - loss: 0.1848 - acc: 0.7343
Epoch 39/50
25724/25724 - 0s - loss: 0.1847 - acc: 0.7334
Epoch 40/50
25724/25724 - 0s - loss: 0.1851 - acc: 0.7308
Epoch 41/50
25724/25724 - 0s - loss: 0.1862 - acc: 0.7305
Epoch 42/50
25724/25724 - 0s - loss: 0.1840 - acc: 0.7334
Epoch 43/50
25724/25724 - 0s - loss: 0.1845 - acc: 0.7314
Epoch 44/50
25724/25724 - 0s - loss: 0.1841 - acc: 0.7319
Epoch 45/50
25724/25724 - 0s - loss: 0.1842 - acc: 0.7324
Epoch 46/50
25724/25724 - 0s - loss: 0.1844 - acc: 0.7338
Epoch 47/50
25724/25724 - 0s - loss: 0.1846 - acc: 0.7334
Epoch 48/50
25724/25724 - 0s - loss: 0.1841 - acc: 0.7336
Epoch 49/50
25724/25724 - 0s - loss: 0.1840 - acc: 0.7333
Epoch 50/50
25724/25724 - 0s - loss: 0.1846 - acc: 0.7331

#### Alternative Model 2

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 40
# YOUR CODE HERE

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 35 
# YOUR CODE HERE

In [39]:
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

35

In [40]:
# Create the Sequential model instance
nn_A2 = Sequential()
# YOUR CODE HERE

In [41]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add
Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A2, activation="relu")

# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))

In [44]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [45]:
# Fit the model
# YOUR CODE HERE
model_2 = nn_A2.fit(X_train_scaled, y_train, epochs=50, verbose=2)

Epoch 1/50
25724/25724 - 0s - loss: 4.4949 - mean_squared_error: 4.4949
Epoch 2/50
25724/25724 - 0s - loss: 3.5657 - mean_squared_error: 3.5657
Epoch 3/50
25724/25724 - 0s - loss: 3.0019 - mean_squared_error: 3.0019
Epoch 4/50
25724/25724 - 0s - loss: 2.5518 - mean_squared_error: 2.5518
Epoch 5/50
25724/25724 - 0s - loss: 2.1684 - mean_squared_error: 2.1684
Epoch 6/50
25724/25724 - 0s - loss: 1.8552 - mean_squared_error: 1.8552
Epoch 7/50
25724/25724 - 0s - loss: 1.5780 - mean_squared_error: 1.5780
Epoch 8/50
25724/25724 - 0s - loss: 1.3415 - mean_squared_error: 1.3415
Epoch 9/50
25724/25724 - 0s - loss: 1.1416 - mean_squared_error: 1.1416
Epoch 10/50
25724/25724 - 0s - loss: 0.9706 - mean_squared_error: 0.9706
Epoch 11/50
25724/25724 - 0s - loss: 0.8257 - mean_squared_error: 0.8257
Epoch 12/50
25724/25724 - 0s - loss: 0.7072 - mean_squared_error: 0.7072
Epoch 13/50
25724/25724 - 0s - loss: 0.6055 - mean_squared_error: 0.6055
Epoch 14/50
25724/25724 - 0s - loss: 0.5191 - mean_squared_error: 0.5191
Epoch 15/50
25724/25724 - 0s - loss: 0.4476 - mean_squared_error: 0.4476
Epoch 16/50
25724/25724 - 0s - loss: 0.3910 - mean_squared_error: 0.3910
Epoch 17/50
25724/25724 - 0s - loss: 0.3426 - mean_squared_error: 0.3426
Epoch 18/50
25724/25724 - 0s - loss: 0.3068 - mean_squared_error: 0.3068
Epoch 19/50
25724/25724 - 0s - loss: 0.2772 - mean_squared_error: 0.2772
Epoch 20/50
25724/25724 - 0s - loss: 0.2537 - mean_squared_error: 0.2537
Epoch 21/50
25724/25724 - 0s - loss: 0.2368 - mean_squared_error: 0.2368
Epoch 22/50
25724/25724 - 0s - loss: 0.2247 - mean_squared_error: 0.2247
Epoch 23/50
25724/25724 - 0s - loss: 0.2156 - mean_squared_error: 0.2156
Epoch 24/50
25724/25724 - 0s - loss: 0.2091 - mean_squared_error: 0.2091
Epoch 25/50
25724/25724 - 0s - loss: 0.2061 - mean_squared_error: 0.2061
Epoch 26/50
25724/25724 - 0s - loss: 0.2036 - mean_squared_error: 0.2036
Epoch 27/50
25724/25724 - 0s - loss: 0.2023 - mean_squared_error: 0.2023
Epoch 28/50
25724/25724 - 0s - loss: 0.2026 - mean_squared_error: 0.2026
Epoch 29/50
25724/25724 - 0s - loss: 0.2017 - mean_squared_error: 0.2017
Epoch 30/50
25724/25724 - 0s - loss: 0.2018 - mean_squared_error: 0.2018
Epoch 31/50
25724/25724 - 0s - loss: 0.2019 - mean_squared_error: 0.2019
Epoch 32/50
25724/25724 - 0s - loss: 0.2024 - mean_squared_error: 0.2024
Epoch 33/50
25724/25724 - 0s - loss: 0.2027 - mean_squared_error: 0.2027
Epoch 34/50
25724/25724 - 0s - loss: 0.2018 - mean_squared_error: 0.2018
Epoch 35/50
25724/25724 - 0s - loss: 0.2026 - mean_squared_error: 0.2026
Epoch 36/50
25724/25724 - 0s - loss: 0.2030 - mean_squared_error: 0.2030
Epoch 37/50
25724/25724 - 0s - loss: 0.2016 - mean_squared_error: 0.2016
Epoch 38/50
25724/25724 - 0s - loss: 0.2025 - mean_squared_error: 0.2025
Epoch 39/50
25724/25724 - 0s - loss: 0.2022 - mean_squared_error: 0.2022
Epoch 40/50
25724/25724 - 0s - loss: 0.2023 - mean_squared_error: 0.2023
Epoch 41/50
25724/25724 - 0s - loss: 0.2015 - mean_squared_error: 0.2015
Epoch 42/50
25724/25724 - 0s - loss: 0.2027 - mean_squared_error: 0.2027
Epoch 43/50
25724/25724 - 0s - loss: 0.2023 - mean_squared_error: 0.2023
Epoch 44/50
25724/25724 - 0s - loss: 0.2022 - mean_squared_error: 0.2022
Epoch 45/50
25724/25724 - 0s - loss: 0.2022 - mean_squared_error: 0.2022
Epoch 46/50
25724/25724 - 0s - loss: 0.2021 - mean_squared_error: 0.2021
Epoch 47/50
25724/25724 - 0s - loss: 0.2022 - mean_squared_error: 0.2022
Epoch 48/50
25724/25724 - 0s - loss: 0.2025 - mean_squared_error: 0.2025
Epoch 49/50
25724/25724 - 0s - loss: 0.2026 - mean_squared_error: 0.2026
Epoch 50/50
25724/25724 - 0s - loss: 0.2022 - mean_squared_error: 0.2022

In [46]:
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              multiple                  4680
=================================================================
Total params: 4,680
Trainable params: 4,680
Non-trainable params: 0
_________________________________________________________________

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [47]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
8575/8575 - 0s - loss: 0.5620 - acc: 0.7290
Loss: 0.5619846418856185, Accuracy: 0.7289795875549316

In [48]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
8575/8575 - 0s - loss: 0.1871 - acc: 0.7329
Loss: 0.18711196584187165, Accuracy: 0.7329446077346802

In [49]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
8575/8575 - 0s - loss: 0.2086 - mean_squared_error: 0.2086
Loss: 0.20860694836597055, Accuracy: 0.20860697329044342

### Step 3: Save each of your alternative models as an HDF5 file.

In [50]:
# Set the file path for the first alternative model
file_path = Path("AlphabetSoup/venture_funding_with_deep_learning.ipynb")

# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [51]:
# Set the file path for the second alternative model
file_path_ = Path("AlphabetSoup/venture_funding_with_deep_learning.ipynb")
# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path_)