# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import warnings
warnings.filterwarnings('ignore')

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('applicants_data.csv'))
# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df_droped = applicant_data_df.drop(columns=['EIN', 'NAME'])
# YOUR CODE HERE

In [6]:
# Review the DataFrame
# YOUR CODE HERE
applicant_data_df_droped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [8]:
# Create a list of categorical variables 
categorical = list(applicant_data_df_droped.dtypes[applicant_data_df_droped.dtypes=='object'].index)

In [9]:
# Encode the categorcal variables using OneHotEncoder
cats_encoded = enc.fit_transform(applicant_data_df_droped[categorical])
# Display the categorical variables list
# YOUR CODE HERE
cats_encoded

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df_new = pd.DataFrame(cats_encoded,
                         columns=enc.get_feature_names(categorical)
                                                                      )
                         
# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
encoded_df_new

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df =  pd.concat([applicant_data_df[['ASK_AMT', 'IS_SUCCESSFUL','STATUS']], encoded_df_new], axis=1)# YOUR CODE HERE

# Review the Dataframe
# YOUR CODE HERE
encoded_df

,ASK_AMT,IS_SUCCESSFUL,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']
# YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE
type(y)

pandas.core.series.Series

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])
# YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE
X

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1S
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 1)
# YOUR CODE HERE

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()
# YOUR CODE HERE

In [16]:
# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)  
# YOUR CODE HERE

In [17]:
# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
# YOUR CODE HERE
X_test_scaled = X_scaler.transform(X_test)
# YOUR CODE HERE

In [18]:
X_train_scaled

array([[-0.02957055,  0.01079982, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       [-0.02957055,  0.01079982, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       [-0.02957055,  0.01079982, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       ...,
       [-0.02957055,  0.01079982, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       [-0.02957055,  0.01079982, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687],
       [-0.02957055,  0.01079982, -0.12358845, ..., -0.07529085,
         0.02925687, -0.02925687]])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [19]:
# Define the the number of inputs (features) to the model
number_input_features = 116
# YOUR CODE HERE

# Review the number of features
number_input_features

116

In [20]:
# Define the number of neurons in the output layer
number_output_neurons = 58
# YOUR CODE HERE

In [21]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 75
# YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

75

In [22]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 55
# YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

55

In [23]:
# Create the Sequential model instance
nn = Sequential()
# YOUR CODE HERE

In [24]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(
    Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

WARNING:tensorflow:From C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [25]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(
    Dense(units=hidden_nodes_layer2, activation='relu'))

In [26]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [27]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 75)                8775
_________________________________________________________________
dense_1 (Dense)              (None, 55)                4180
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 56
=================================================================
Total params: 13,011
Trainable params: 13,011
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [28]:
# Compile the Sequential model
# YOUR CODE HERE
# Compile the model
nn.compile(loss=["binary_crossentropy"], optimizer="adam", metrics=["accuracy"])

# Train the model
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE

model_1 = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

WARNING:tensorflow:From C:\Users\JBarr\anaconda3\envs\dev\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 18006 samples, validate on 7718 samples
Epoch 1/50
18006/18006 [==============================] - 1s 38us/sample - loss: 0.5819 - acc: 0.7155 - val_loss: 0.5493 - val_acc: 0.7361
Epoch 2/50
18006/18006 [==============================] - 1s 30us/sample - loss: 0.5589 - acc: 0.7236 - val_loss: 0.5553 - val_acc: 0.7371
Epoch 3/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5559 - acc: 0.7261 - val_loss: 0.5539 - val_acc: 0.7352
Epoch 4/50
18006/18006 [==============================] - 0s 28us/sample - loss: 0.5527 - acc: 0.7283 - val_loss: 0.5539 - val_acc: 0.7392
Epoch 5/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5506 - acc: 0.7293 - val_loss: 0.5541 - val_acc: 0.7374
Epoch 6/50
18006/18006 [==============================] - 0s 28us/sample - loss: 0.5500 - acc: 0.7292 - val_loss: 0.5513 - val_acc: 0.7403
Epoch 7/50
18006/18006 [==============================] - 1s 29us/sample - loss: 0.5479 - acc: 0.7299 - val_loss: 0.5547 - val_acc: 0.7354
Epoch 8/50
18006/18006 [==============================] - 1s 29us/sample - loss: 0.5469 - acc: 0.7293 - val_loss: 0.5541 - val_acc: 0.7322
Epoch 9/50
18006/18006 [==============================] - 1s 28us/sample - loss: 0.5460 - acc: 0.7313 - val_loss: 0.5545 - val_acc: 0.7392
Epoch 10/50
18006/18006 [==============================] - 1s 29us/sample - loss: 0.5448 - acc: 0.7334 - val_loss: 0.5571 - val_acc: 0.7376
Epoch 11/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5441 - acc: 0.7319 - val_loss: 0.5575 - val_acc: 0.7405
Epoch 12/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5435 - acc: 0.7330 - val_loss: 0.5546 - val_acc: 0.7385
Epoch 13/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5425 - acc: 0.7329 - val_loss: 0.5570 - val_acc: 0.7375
Epoch 14/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5421 - acc: 0.7324 - val_loss: 0.5585 - val_acc: 0.7349
Epoch 15/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5415 - acc: 0.7337 - val_loss: 0.5578 - val_acc: 0.7352
Epoch 16/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5410 - acc: 0.7338 - val_loss: 0.5615 - val_acc: 0.7318
Epoch 17/50
18006/18006 [==============================] - 0s 28us/sample - loss: 0.5408 - acc: 0.7347 - val_loss: 0.5537 - val_acc: 0.7391
Epoch 18/50
18006/18006 [==============================] - 0s 25us/sample - loss: 0.5404 - acc: 0.7356 - val_loss: 0.5724 - val_acc: 0.7299
Epoch 19/50
18006/18006 [==============================] - 1s 28us/sample - loss: 0.5400 - acc: 0.7343 - val_loss: 0.5639 - val_acc: 0.7344
Epoch 20/50
18006/18006 [==============================] - 0s 28us/sample - loss: 0.5391 - acc: 0.7363 - val_loss: 0.5639 - val_acc: 0.7354
Epoch 21/50
18006/18006 [==============================] - 1s 28us/sample - loss: 0.5394 - acc: 0.7361 - val_loss: 0.5691 - val_acc: 0.7301
Epoch 22/50
18006/18006 [==============================] - 0s 28us/sample - loss: 0.5388 - acc: 0.7345 - val_loss: 0.5620 - val_acc: 0.7358
Epoch 23/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5380 - acc: 0.7350 - val_loss: 0.5677 - val_acc: 0.7363
Epoch 24/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5378 - acc: 0.7354 - val_loss: 0.5623 - val_acc: 0.7361
Epoch 25/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5377 - acc: 0.7338 - val_loss: 0.5678 - val_acc: 0.7327
Epoch 26/50
18006/18006 [==============================] - 0s 25us/sample - loss: 0.5372 - acc: 0.7360 - val_loss: 0.5622 - val_acc: 0.7366
Epoch 27/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5365 - acc: 0.7370 - val_loss: 0.5650 - val_acc: 0.7374
Epoch 28/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5369 - acc: 0.7375 - val_loss: 0.5654 - val_acc: 0.7357
Epoch 29/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5366 - acc: 0.7371 - val_loss: 0.5622 - val_acc: 0.7350
Epoch 30/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5368 - acc: 0.7374 - val_loss: 0.5607 - val_acc: 0.7358
Epoch 31/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5357 - acc: 0.7379 - val_loss: 0.5652 - val_acc: 0.7330
Epoch 32/50
18006/18006 [==============================] - 0s 25us/sample - loss: 0.5351 - acc: 0.7348 - val_loss: 0.5621 - val_acc: 0.7356
Epoch 33/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5343 - acc: 0.7391 - val_loss: 0.5677 - val_acc: 0.7321
Epoch 34/50
18006/18006 [==============================] - 0s 25us/sample - loss: 0.5348 - acc: 0.7381 - val_loss: 0.5685 - val_acc: 0.7371
Epoch 35/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5346 - acc: 0.7370 - val_loss: 0.5652 - val_acc: 0.7334
Epoch 36/50
18006/18006 [==============================] - 0s 25us/sample - loss: 0.5343 - acc: 0.7379 - val_loss: 0.5776 - val_acc: 0.7262
Epoch 37/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5346 - acc: 0.7382 - val_loss: 0.5657 - val_acc: 0.7317
Epoch 38/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5338 - acc: 0.7377 - val_loss: 0.5668 - val_acc: 0.7327
Epoch 39/50
18006/18006 [==============================] - 0s 25us/sample - loss: 0.5341 - acc: 0.7380 - val_loss: 0.5689 - val_acc: 0.7332
Epoch 40/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5339 - acc: 0.7370 - val_loss: 0.5682 - val_acc: 0.7380
Epoch 41/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5337 - acc: 0.7384 - val_loss: 0.5670 - val_acc: 0.7358
Epoch 42/50
18006/18006 [==============================] - 0s 28us/sample - loss: 0.5336 - acc: 0.7386 - val_loss: 0.5688 - val_acc: 0.7345
Epoch 43/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5336 - acc: 0.7381 - val_loss: 0.5672 - val_acc: 0.7359
Epoch 44/50
18006/18006 [==============================] - 1s 30us/sample - loss: 0.5333 - acc: 0.7388 - val_loss: 0.5662 - val_acc: 0.7356
Epoch 45/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5333 - acc: 0.7388 - val_loss: 0.5655 - val_acc: 0.7353
Epoch 46/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5326 - acc: 0.7391 - val_loss: 0.5766 - val_acc: 0.7339
Epoch 47/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5327 - acc: 0.7380 - val_loss: 0.5724 - val_acc: 0.7346
Epoch 48/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5323 - acc: 0.7396 - val_loss: 0.5715 - val_acc: 0.7365
Epoch 49/50
18006/18006 [==============================] - 0s 26us/sample - loss: 0.5320 - acc: 0.7388 - val_loss: 0.5768 - val_acc: 0.7334
Epoch 50/50
18006/18006 [==============================] - 0s 27us/sample - loss: 0.5317 - acc: 0.7388 - val_loss: 0.5646 - val_acc: 0.7376

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [29]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5605 - acc: 0.7312
Loss: 0.5605102765594905, Accuracy: 0.731195330619812

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [30]:
# Set the model's file path
file_path = Path("venture_funding_with_deep_learning.ipynb")

# Export your model to a HDF5 file
AlphabetSoup = nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [31]:
# Define the the number of inputs (features) to the model
number_input_features_ = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 47
# YOUR CODE HERE

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 70
# YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

70

In [34]:
# Create the Sequential model instance
nn_A1 = Sequential()
# YOUR CODE HERE

In [35]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(
    Dense(input_dim = number_input_features_, units=number_output_neurons_A1, activation='relu')) #tanh, 

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=1, activation="linear")) #softmax

# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 47)                5499
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 48
=================================================================
Total params: 5,547
Trainable params: 5,547
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the Sequential model
nn_A1.compile(loss=["mean_squared_error"], optimizer="adam", metrics=["accuracy"])

In [37]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, verbose=2)
# YOUR CODE HERE

Epoch 1/50
25724/25724 - 1s - loss: 0.6359 - acc: 0.6865
Epoch 2/50
25724/25724 - 0s - loss: 0.2581 - acc: 0.7224
Epoch 3/50
25724/25724 - 0s - loss: 0.2164 - acc: 0.7232
Epoch 4/50
25724/25724 - 0s - loss: 0.2342 - acc: 0.7250
Epoch 5/50
25724/25724 - 0s - loss: 0.2256 - acc: 0.7253
Epoch 6/50
25724/25724 - 0s - loss: 0.2374 - acc: 0.7254
Epoch 7/50
25724/25724 - 0s - loss: 0.2335 - acc: 0.7267
Epoch 8/50
25724/25724 - 0s - loss: 0.2162 - acc: 0.7287
Epoch 9/50
25724/25724 - 0s - loss: 0.2162 - acc: 0.7274
Epoch 10/50
25724/25724 - 0s - loss: 0.2126 - acc: 0.7276
Epoch 11/50
25724/25724 - 0s - loss: 0.2063 - acc: 0.7285
Epoch 12/50
25724/25724 - 0s - loss: 0.2054 - acc: 0.7298
Epoch 13/50
25724/25724 - 0s - loss: 0.1988 - acc: 0.7306
Epoch 14/50
25724/25724 - 0s - loss: 0.1960 - acc: 0.7312
Epoch 15/50
25724/25724 - 0s - loss: 0.1941 - acc: 0.7310
Epoch 16/50
25724/25724 - 0s - loss: 0.1912 - acc: 0.7308
Epoch 17/50
25724/25724 - 0s - loss: 0.1918 - acc: 0.7304
Epoch 18/50
25724/25724 - 0s - loss: 0.1947 - acc: 0.7307
Epoch 19/50
25724/25724 - 0s - loss: 0.1913 - acc: 0.7310
Epoch 20/50
25724/25724 - 0s - loss: 0.1887 - acc: 0.7307
Epoch 21/50
25724/25724 - 0s - loss: 0.1881 - acc: 0.7304
Epoch 22/50
25724/25724 - 0s - loss: 0.1889 - acc: 0.7314
Epoch 23/50
25724/25724 - 0s - loss: 0.1879 - acc: 0.7324
Epoch 24/50
25724/25724 - 0s - loss: 0.1870 - acc: 0.7318
Epoch 25/50
25724/25724 - 0s - loss: 0.1863 - acc: 0.7324
Epoch 26/50
25724/25724 - 0s - loss: 0.1871 - acc: 0.7320
Epoch 27/50
25724/25724 - 0s - loss: 0.1877 - acc: 0.7319
Epoch 28/50
25724/25724 - 0s - loss: 0.1856 - acc: 0.7319
Epoch 29/50
25724/25724 - 0s - loss: 0.1846 - acc: 0.7332
Epoch 30/50
25724/25724 - 0s - loss: 0.1861 - acc: 0.7323
Epoch 31/50
25724/25724 - 0s - loss: 0.1855 - acc: 0.7332
Epoch 32/50
25724/25724 - 0s - loss: 0.1850 - acc: 0.7320
Epoch 33/50
25724/25724 - 0s - loss: 0.1855 - acc: 0.7323
Epoch 34/50
25724/25724 - 0s - loss: 0.1851 - acc: 0.7329
Epoch 35/50
25724/25724 - 0s - loss: 0.1854 - acc: 0.7329
Epoch 36/50
25724/25724 - 0s - loss: 0.1847 - acc: 0.7332
Epoch 37/50
25724/25724 - 0s - loss: 0.1849 - acc: 0.7336
Epoch 38/50
25724/25724 - 0s - loss: 0.1857 - acc: 0.7332
Epoch 39/50
25724/25724 - 0s - loss: 0.1844 - acc: 0.7339
Epoch 40/50
25724/25724 - 0s - loss: 0.1842 - acc: 0.7341
Epoch 41/50
25724/25724 - 0s - loss: 0.1840 - acc: 0.7350
Epoch 42/50
25724/25724 - 0s - loss: 0.1845 - acc: 0.7320
Epoch 43/50
25724/25724 - 0s - loss: 0.1865 - acc: 0.7334
Epoch 44/50
25724/25724 - 0s - loss: 0.1843 - acc: 0.7355
Epoch 45/50
25724/25724 - 0s - loss: 0.1841 - acc: 0.7346
Epoch 46/50
25724/25724 - 0s - loss: 0.1837 - acc: 0.7348
Epoch 47/50
25724/25724 - 0s - loss: 0.1836 - acc: 0.7348
Epoch 48/50
25724/25724 - 0s - loss: 0.1842 - acc: 0.7343
Epoch 49/50
25724/25724 - 0s - loss: 0.1842 - acc: 0.7331
Epoch 50/50
25724/25724 - 0s - loss: 0.1844 - acc: 0.7340

#### Alternative Model 2

In [38]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [39]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 40
# YOUR CODE HERE

In [40]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 35 
# YOUR CODE HERE

In [41]:
# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

35

In [42]:
# Create the Sequential model instance
nn_A2 = Sequential()
# YOUR CODE HERE

In [43]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add
Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A2, activation="relu")

# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))

In [44]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [45]:
X_train.head()

,ASK_AMT,STATUS,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
10679,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5052,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9990,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25173,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11405,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [46]:
y_train.values

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [47]:
# Fit the model
# YOUR CODE HERE
model_2 = nn_A2.fit(X_train_scaled, y_train.values, epochs=50, verbose=2)

Epoch 1/50
25724/25724 - 0s - loss: 4.1468 - mean_squared_error: 4.1468
Epoch 2/50
25724/25724 - 0s - loss: 3.2457 - mean_squared_error: 3.2457
Epoch 3/50
25724/25724 - 0s - loss: 2.7270 - mean_squared_error: 2.7270
Epoch 4/50
25724/25724 - 0s - loss: 2.3266 - mean_squared_error: 2.3266
Epoch 5/50
25724/25724 - 0s - loss: 1.9826 - mean_squared_error: 1.9826
Epoch 6/50
25724/25724 - 0s - loss: 1.6959 - mean_squared_error: 1.6959
Epoch 7/50
25724/25724 - 0s - loss: 1.4499 - mean_squared_error: 1.4499
Epoch 8/50
25724/25724 - 0s - loss: 1.2519 - mean_squared_error: 1.2519
Epoch 9/50
25724/25724 - 0s - loss: 1.0688 - mean_squared_error: 1.0688
Epoch 10/50
25724/25724 - 0s - loss: 0.9198 - mean_squared_error: 0.9198
Epoch 11/50
25724/25724 - 0s - loss: 0.7887 - mean_squared_error: 0.7887
Epoch 12/50
25724/25724 - 0s - loss: 0.6777 - mean_squared_error: 0.6777
Epoch 13/50
25724/25724 - 0s - loss: 0.5842 - mean_squared_error: 0.5842
Epoch 14/50
25724/25724 - 0s - loss: 0.5045 - mean_squared_error: 0.5045
Epoch 15/50
25724/25724 - 0s - loss: 0.4393 - mean_squared_error: 0.4393
Epoch 16/50
25724/25724 - 0s - loss: 0.3845 - mean_squared_error: 0.3845
Epoch 17/50
25724/25724 - 0s - loss: 0.3398 - mean_squared_error: 0.3398
Epoch 18/50
25724/25724 - 0s - loss: 0.3035 - mean_squared_error: 0.3035
Epoch 19/50
25724/25724 - 1s - loss: 0.2757 - mean_squared_error: 0.2757
Epoch 20/50
25724/25724 - 1s - loss: 0.2538 - mean_squared_error: 0.2538
Epoch 21/50
25724/25724 - 1s - loss: 0.2379 - mean_squared_error: 0.2379
Epoch 22/50
25724/25724 - 0s - loss: 0.2252 - mean_squared_error: 0.2252
Epoch 23/50
25724/25724 - 0s - loss: 0.2162 - mean_squared_error: 0.2162
Epoch 24/50
25724/25724 - 1s - loss: 0.2106 - mean_squared_error: 0.2106
Epoch 25/50
25724/25724 - 0s - loss: 0.2065 - mean_squared_error: 0.2065
Epoch 26/50
25724/25724 - 0s - loss: 0.2040 - mean_squared_error: 0.2040
Epoch 27/50
25724/25724 - 0s - loss: 0.2023 - mean_squared_error: 0.2023
Epoch 28/50
25724/25724 - 0s - loss: 0.2020 - mean_squared_error: 0.2020
Epoch 29/50
25724/25724 - 0s - loss: 0.2013 - mean_squared_error: 0.2013
Epoch 30/50
25724/25724 - 0s - loss: 0.2019 - mean_squared_error: 0.2019
Epoch 31/50
25724/25724 - 0s - loss: 0.2022 - mean_squared_error: 0.2022
Epoch 32/50
25724/25724 - 0s - loss: 0.2019 - mean_squared_error: 0.2019
Epoch 33/50
25724/25724 - 0s - loss: 0.2018 - mean_squared_error: 0.2018
Epoch 34/50
25724/25724 - 0s - loss: 0.2026 - mean_squared_error: 0.2026
Epoch 35/50
25724/25724 - 0s - loss: 0.2020 - mean_squared_error: 0.2020
Epoch 36/50
25724/25724 - 0s - loss: 0.2028 - mean_squared_error: 0.2028
Epoch 37/50
25724/25724 - 0s - loss: 0.2019 - mean_squared_error: 0.2019
Epoch 38/50
25724/25724 - 0s - loss: 0.2022 - mean_squared_error: 0.2022
Epoch 39/50
25724/25724 - 0s - loss: 0.2024 - mean_squared_error: 0.2024
Epoch 40/50
25724/25724 - 0s - loss: 0.2028 - mean_squared_error: 0.2028
Epoch 41/50
25724/25724 - 0s - loss: 0.2021 - mean_squared_error: 0.2021
Epoch 42/50
25724/25724 - 0s - loss: 0.2024 - mean_squared_error: 0.2024
Epoch 43/50
25724/25724 - 0s - loss: 0.2023 - mean_squared_error: 0.2023
Epoch 44/50
25724/25724 - 0s - loss: 0.2019 - mean_squared_error: 0.2019
Epoch 45/50
25724/25724 - 0s - loss: 0.2018 - mean_squared_error: 0.2018
Epoch 46/50
25724/25724 - 0s - loss: 0.2026 - mean_squared_error: 0.2026
Epoch 47/50
25724/25724 - 0s - loss: 0.2026 - mean_squared_error: 0.2026
Epoch 48/50
25724/25724 - 0s - loss: 0.2025 - mean_squared_error: 0.2025
Epoch 49/50
25724/25724 - 0s - loss: 0.2024 - mean_squared_error: 0.2024
Epoch 50/50
25724/25724 - 0s - loss: 0.2027 - mean_squared_error: 0.2027

In [48]:
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              multiple                  4680
=================================================================
Total params: 4,680
Trainable params: 4,680
Non-trainable params: 0
_________________________________________________________________

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [49]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
8575/8575 - 0s - loss: 0.5605 - acc: 0.7312
Loss: 0.5605102765594905, Accuracy: 0.731195330619812

In [50]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
8575/8575 - 0s - loss: 0.1870 - acc: 0.7340
Loss: 0.1869822366036062, Accuracy: 0.73399418592453

In [51]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)
# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
8575/8575 - 0s - loss: 0.2106 - mean_squared_error: 0.2106
Loss: 0.21064783223168843, Accuracy: 0.2106478214263916

### Step 3: Save each of your alternative models as an HDF5 file.

In [52]:
# Set the file path for the first alternative model
file_path = Path("AlphabetSoup/data_1.h5")

# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [53]:
# Set the file path for the second alternative model
file_path_ = Path("AlphabetSoup/data_2.h5")
# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path_)

Requirement already satisfied: pystan in c:\users\jbarr\anaconda3\envs\dev\lib\site-packages (2.19.1.1)
Requirement already satisfied: Cython!=0.25.1,>=0.22 in c:\users\jbarr\anaconda3\envs\dev\lib\site-packages (from pystan) (0.29.23)
Requirement already satisfied: numpy>=1.7 in c:\users\jbarr\anaconda3\envs\dev\lib\site-packages (from pystan) (1.19.5)
Note: you may need to restart the kernel to use updated packages.